### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [106]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data_to_load = "PyCitySchools_schools_complete.csv"
student_data_to_load = "PyCitySchools_students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
## The starter code had this joined on the "left"
school_data_complete_df = pd.merge(student_data, school_data, 
                                   how="left", on=["school_name", 
                                                   "school_name"])

In [102]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [103]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [93]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [78]:
# See all number of unique values
school_data_complete_df.nunique()

Student ID       39170
student_name     32715
gender               2
grade                4
school_name         15
reading_score       37
math_score          45
School ID           15
type                 2
size                15
budget              15
dtype: int64

In [77]:
# Calculate the total number of schools
schools_total = school_data_complete_df["School ID"].nunique()
schools_total

15

In [79]:
# Calculate the total number of students
# Since there are more student IDs than name, go with the higher
# value for the "Total Students" measurement
students_total = school_data_complete_df["Student ID"].nunique()
students_total

39170

In [81]:
# Calculate total budget using the 
budget_data = school_data["budget"].sum()
budget_data

24649428

In [ ]:
district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)

In [85]:
# Calculate the average math score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score

78.98537145774827

In [87]:
# Calculate the average reading score
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [41]:
# Calculate the Percent Overall Passing rate (overall average score), 
# i.e. (avg. math score + avg. reading score)/2
overall_passing = (avg_math_score + avg_reading_score)/2
overall_passing

80.43160582078121

In [88]:
# Percent Passing Math
# Create a new data frame to hold only the values of math scores
# that are equal to 70 or greater
math_df = school_data_complete_df[school_data_complete_df['math_score']>=70]
math_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [74]:
passing_math = math_df.count()/school_data_complete_df.count()
percent_passing_math = passing_math['math_score']*100
percent_passing_math

74.9808526933878

In [89]:
reading_df = school_data_complete_df[school_data_complete_df['reading_score']>=70]
reading_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [72]:
passing_reading = reading_df.count()/school_data_complete_df.count()
percent_passing_reading = passing_reading['math_score']*100
percent_passing_reading

85.80546336482001

In [101]:
# Optional: Give the displayed data cleaner formatting
# # Combine values into a data frame
district_summary_df = pd.DataFrame({"Total Schools": [schools_total], 
                                           "Total Students": [students_total],
                                           "Total Budget ($)": [budget_data],
                                          "Average Math Score": [avg_math_score],
                                          "Average Reading Score": [avg_reading_score],
                                          "% Passing Math": [percent_passing_math],
                                           "% Passing Reading": [percent_passing_reading],
                                           "% Overall Passing": [overall_passing]})
district_summary_totals_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [99]:
## Possible addition: changing the budget data into dollars and cents format
# district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
# district_summary_df

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
## Pseudo - code says: add a column to the student complete data 
# that's got the added columns
# then group the data by school
# finally, set the index to the data as the school name

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [95]:
# overall_passing_df = district_summary_totals_df.sort_values("% Overall Passing")
# overall_passing_df

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.