### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [106]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data_to_load = "PyCitySchools_schools_complete.csv"
student_data_to_load = "PyCitySchools_students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
## The starter code had this joined on the "left"
school_data_complete_df = pd.merge(student_data, school_data, 
                                   how="left", on=["school_name", 
                                                   "school_name"])

In [148]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [103]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [93]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [78]:
# See all number of unique values
school_data_complete_df.nunique()

Student ID       39170
student_name     32715
gender               2
grade                4
school_name         15
reading_score       37
math_score          45
School ID           15
type                 2
size                15
budget              15
dtype: int64

In [77]:
# Calculate the total number of schools
schools_total = school_data_complete_df["School ID"].nunique()
schools_total

15

In [79]:
# Calculate the total number of students
# Since there are more student IDs than name, go with the higher
# value for the "Total Students" measurement
students_total = school_data_complete_df["Student ID"].nunique()
students_total

39170

In [81]:
# Calculate total budget using the 
budget_data = school_data["budget"].sum()
budget_data

24649428

In [ ]:
district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)

In [85]:
# Calculate the average math score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score

78.98537145774827

In [87]:
# Calculate the average reading score
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [41]:
# Calculate the Percent Overall Passing rate (overall average score), 
# i.e. (avg. math score + avg. reading score)/2
overall_passing = (avg_math_score + avg_reading_score)/2
overall_passing

80.43160582078121

In [88]:
# Percent Passing Math
# Create a new data frame to hold only the values of math scores
# that are equal to 70 or greater
math_df = school_data_complete_df[school_data_complete_df['math_score']>=70]
math_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [74]:
passing_math = math_df.count()/school_data_complete_df.count()
percent_passing_math = passing_math['math_score']*100
percent_passing_math

74.9808526933878

In [89]:
reading_df = school_data_complete_df[school_data_complete_df['reading_score']>=70]
reading_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [164]:
passing_reading = reading_df.count()/school_data_complete_df.count()
percent_passing_reading = passing_reading['reading_score']*100
percent_passing_reading

85.80546336482001

In [165]:
# Optional: Give the displayed data cleaner formatting
# # Combine values into a data frame
district_summary_df = pd.DataFrame({"Total Schools": [schools_total], 
                                           "Total Students": [students_total],
                                           "Total Budget ($)": [budget_data],
                                          "Average Math Score": [avg_math_score],
                                          "Average Reading Score": [avg_reading_score],
                                          "% Passing Math": [percent_passing_math],
                                           "% Passing Reading": [percent_passing_reading],
                                           "% Overall Passing": [overall_passing]})
district_summary_totals_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [99]:
## Possible addition: changing the budget data into dollars and cents format
# district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
# district_summary_df

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [107]:
## Pseudo - code says: add a column to the student complete data 
# that's got the added columns
# then group the data by school
# finally, set the index to the data as the school name
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [133]:
# Extract the availalbe data we have for School Summary Values 
# "School Name" ('school_name'), "School Type" ('type'),
# "Total Students" ('size'), "Budget" ('budget'), 

# Also extract the data we will use to calculate
# additional values "Average Math Score" ('math_score'), 
# "Average Reading Score" ('reading_score'), "% Passing Math",
# "% Passing Reading", "Overall Passing Rate"
school_summary_df = school_data_complete_df.loc[:, ["school_name", "type",
                                                    "size", "budget",
                                                    "math_score", 
                                                    "reading_score"]]
school_summary_df

              school_name      type  size   budget  math_score  reading_score
0       Huang High School  District  2917  1910635          79             66
1       Huang High School  District  2917  1910635          61             94
2       Huang High School  District  2917  1910635          60             90
3       Huang High School  District  2917  1910635          58             67
4       Huang High School  District  2917  1910635          84             97
...                   ...       ...   ...      ...         ...            ...
39165  Thomas High School   Charter  1635  1043130          90             99
39166  Thomas High School   Charter  1635  1043130          70             95
39167  Thomas High School   Charter  1635  1043130          84             73
39168  Thomas High School   Charter  1635  1043130          90             99
39169  Thomas High School   Charter  1635  1043130          75             95

[39170 rows x 6 columns]

In [151]:
# School Name and School Type 
school_name = school_data.set_index(["school_name"])["type"]
school_name

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [155]:
# Total Students
schools_students = school_data_complete_df["school_name"].value_counts()
schools_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [160]:
# Total Budget
schools_budget = school_data_complete_df.groupby(['school_name']).mean()['budget']
schools_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [161]:
budget_per_student = schools_budget/schools_students
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [162]:
# Average Math Score
schools_math_score = school_data_complete_df.groupby(['school_name']).mean()['math_score']
schools_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [163]:
# Average Reading Score
schools_reading_score = school_data_complete_df.groupby(['school_name']).mean()['reading_score']
schools_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [168]:
# % Passing Math
schools_passing_math = school_data_complete_df[school_data_complete_df['math_score']>=70]
schools_passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [174]:
# Percent Passing Math
percent_students_math = (schools_passing_math.groupby(['school_name']).count()['math_score']/schools_students)*100
percent_students_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [175]:
# % Passing Reading (pt 1)
schools_passing_reading = school_data_complete_df[school_data_complete_df['reading_score']>=70]
schools_passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [176]:
# Percent Passing Math (pt 2)
percent_students_reading = (schools_passing_reading.groupby(['school_name']).count()['reading_score']/schools_students)*100
percent_students_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [177]:
# Overall Passing Rate
schools_overall_passing = (percent_students_math + percent_students_reading)/2
schools_overall_passing

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [179]:
schools_summary_df = pd.DataFrame({"School Type": school_name, 
                                           "Total Students": schools_students,
                                           "Total Budget ($)": schools_budget,
                                          "Per Student Budget": budget_per_student,
                                           "Average Math Score": schools_math_score,
                                          "Average Reading Score": schools_reading_score,
                                          "% Passing Math": percent_students_math,
                                           "% Passing Reading": percent_students_reading,
                                           "% Overall Passing": schools_overall_passing})
schools_summary_df

,School Type,Total Students,Total Budget ($),Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [183]:
# sort schools by highest passing rate
schools_summary_df.sort_values(by=['% Overall Passing'], inplace=True,
                              ascending=False)
schools_summary_df.head()

,School Type,Total Students,Total Budget ($),Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [184]:
# sort schools by highest passing rate
schools_summary_df.sort_values(by=['% Overall Passing'], inplace=True)
schools_summary_df.head()

,School Type,Total Students,Total Budget ($),Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [189]:
school_summary_df["Per Student Budget"] = pd.cut(school_summary_df["Total Budget ($)"], spending_bins, labels=group_names, include_lowest=True)
school_summary_df.head()

KeyError: 'Total Budget ($)'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.